name: NOCAP-BE CD

on:
  workflow_run:
    workflows: ["NOCAP-BE CI"]
    types: [ completed ]
jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Deploy to EC2 via SSH
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Prepare SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

      - name: Add server to known_hosts
        run: ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

      - name: SSH & deploy container with rollback
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            set -e

             mkdir -p /home/ubuntu/nocap-be/src/main/resources
            cat <<'EOF' > /home/ubuntu/nocap-be/src/main/resources/application.yml
            ${{ secrets.APPLICATION_YML }}
            EOF
            
            # 이전 이미지 ID 저장
            PREV_IMAGE=$(docker images \
              --filter=reference="${{ secrets.DOCKERHUB_USERNAME }}/nocap-be:latest" \
              --format '{{.ID}}')

            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/nocap-be:latest

            docker rm -f nocap-be || true
            docker run -d \
              --name nocap-be \
              -p 80:8080 \
              -v /home/ubuntu/nocap-be/src/main/resources/application.yml:/app/config/application.yml \
              ${{ secrets.DOCKERHUB_USERNAME }}/nocap-be:latest

            sleep 10
            RUNNING=$(docker inspect -f '{{.State.Running}}' nocap-be)
            if [ "$RUNNING" != "true" ]; then
              echo "새 컨테이너 시작 실패, 롤백"
              docker rm -f nocap-be || true
              docker run -d \
                --name nocap-be \
                -p 80:8080 \
                -v /home/ubuntu/nocap-be/src/main/resources/application.yml:/app/config/application.yml \
                $PREV_IMAGE
            else
              echo "새 컨테이너 정상 실행"
            fi

            # 사용하지 않는 이미지 정리
            docker image prune -af
